# Python / Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables & secrets
.env
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage
.pytest_cache/
.coverage
htmlcov/

# Editor / IDE configurations
.idea/
.vscode/
*.swp
*.swo

# System / OS files
.DS_Store
Thumbs.db
